@import "./colors";
@import './header';
@import './config';
@import './snippets';
@import './accessSection';
@import './footer';

.attribution { font-size: 11px; text-align: center;
               color: hsl(228, 45%, 44%); 
            }

p, a {
   font-family:  baijamjuree;
   line-height: 1.5;
}

h1,
h2,
h3,
h4 {
   font-family:  "baijamjuree Bold";
}

img {
   max-width: 100%;
   height: auto;
}

h2 {
   margin-bottom: 2vh;
   margin-top: 5vh;
}

@mixin button {
   background-color: $cyan;
   text-decoration: none;
   color: white;
   padding: 1vh 2vw;
   border-radius: 20px;
}
